@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}


/*---------------------------------------------colors*/

.navbar-light .navbar-nav .nav-link {
    color: #fff;

}

.nav-bg-color{
    background-color:rgba(250, 120, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link:hover{
    color:#fff;
}


.hvr-glow{
    color:#fff!important;
}


li a:hover{
    background-color:#000;
}


.row-color{
    background-color:yellow;
    height:300px;
}

.navbar-collapse{
    flex-grow:0;
}


.lion-logo img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:50%;
    opacity:0.8;
}





li a:hover{
    font-size:1.5rem;
    width:fit-content;
}

.navbar-brand{
    width:25%;
}

.nav-link{
    letter-spacing:2px;
}




.hero-image{
    background-image:url("/assets/images/hero-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    align-items: center;
    text-align:center;
    letter-spacing:2px;
}

.hero-image-text-bg{
    background-color:rgba(0, 0, 0, 0.5);
    color:#fff;
    opacity:0.9;
    width:50%;
    border:1px solid #fff;
}

.carousel-inner{
    border: 1px solid;
    box-shadow: 0px 10px 10px 15px #888888;
    border-radius:10%;

}

.carousel-images img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



    .text-about-animals{
        font-size:1.2rem;
        letter-spacing:1px;
    }

    .card img{
        height:35vh;
    }

    .btn.btn-primary.card-buttons{
        width:50%;
        float:right;
    }


@media only screen and (min-width: 320px) {
    .hero-image{
        height:35vh;
        
    }

}


@media only screen and (min-width: 375px) {
    .hero-image{
        height:41vh;
    }
}


@media only screen and (min-width: 425px) {
    .hero-image{
        height:46vh;
    }
    .hero-image-text{
        font-size:1.5rem;
    }
}


@media only screen and (min-width: 600px) {
    .hero-image{
        height:80vh;
    }
    .hero-image-text{
        font-size:2rem;
    }

    .nav-link{
        margin: 0 2rem;
    }

    .navbar-brand{
      width:15%;  
    }
}

@media only screen and (min-width: 800px) {
    .hero-image{
        height: 110vh;
    }
    .hero-image-text{
        font-size:3rem;
    }
    .nav-link{
        font-size:1.2rem;
        margin: 0 1rem;
    }

    .hero-image-text-bg{
    width:70%;
    height:35vh;

}
    .navbar-brand{
      width:8%;  
    }


    
}



@media only screen and (min-width: 1050px) {
    .hero-image{
        height: 156vh;
    }
    .hero-image-text{
        font-size:4rem;
    }

    .nav-link{
        font-size: 1.2rem;
        margin: 0 3rem;
    }
    .hero-image-text-bg{
    width:50%;
    height:45vh;

}

}










/*
a.navbar-brand.lion-logo{
    width:50%;

}*/