@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

Address div p i{
    font-family:"Italic"!important;
}

.social-icons{
    font-size:3rem;
}

a{
    color:#000;
}


/*---------------------------------------------colors*/

.navbar-light .navbar-nav .nav-link {
    color: #fff;

}

.nav-bg-color{
    background-color:rgba(250, 120, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link:hover{
    color:#fff;
}


.hvr-glow{
    color:#fff!important;
}


li a:hover{
    background-color:#000;
}

.navbar-collapse{
    flex-grow:0;
}


.lion-logo img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:50%;
    opacity:0.8;
}


.navbar-light .navbar-nav .nav-link {
    font-size:1rem;

}


li a:hover{
    font-size:1.5rem;
    width:fit-content;
}

.navbar-brand{
    width:18%;
}

.nav-link{
    letter-spacing:2px;
}




.hero-image{
    background-image:url("/assets/images/hero-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    align-items: center;
    text-align:center;
    letter-spacing:2px;
}

.hero-image-text-bg{
    background-color:rgba(0, 0, 0, 0.5);
    color:#fff;
    opacity:0.9;
    width:50%;
    border:1px solid #fff;
}

    .carousel-inner{
            border: 1px solid;
            box-shadow: 0px 10px 10px 15px #888888;
            border-radius:10%;

        }


    p{
        text-align:center;
        font-size:1.2rem;
        letter-spacing: 1.2px;
    }

    .card-body{
        text-align: center;
    }



    .card-buttons{
        width:60%;
        float:right;
    }


    .food-chain-cards{
        width:30%;
    }

    .food-chain-images{
        border-radius:100%;
    }

    .contact-bg-image{
        background-image: url("/assets/images/cat-contact-form.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius:10%;
    }

    .opacity{
        opacity:0.7;
    }

    .input-color::placeholder{
        color:rgba(250, 120, 0, 1.0);
        background-color:rgba(0, 0, 0, 1.0);
    }

    #first-name::placeholder{
        width:12%;
        border-radius:10%
    }

    #last-name::placeholder{
        width:20%;
        border-radius:10%
    }

    #email::placeholder{
        width:26%;
        border-radius:10%
    }

    #text-area::placeholder{
       background-color:rgba(0, 0, 0, 1.0);
       width:20%;
       border-radius:10%
    }



    .textarea-color::placeholder{
        color:rgba(250, 120, 0, 1.0);
    }

    
    .radio-button-text-color{
        background-color: rgba(0, 0, 0, 0.7);
        border-radius:15%;
        color:rgba(250, 120, 0);
        font-size: 1.3rem;

    }

    #form-button{
        background-color:rgba(250, 150, 0);
    }

    .form-check-input:checked{
        background-color:rgba(250, 150, 0);
        border-color:rgba(250, 150, 0);
    }

    .modal-backdrop{
        background-image: url("/assets/images/dog.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height:70vh;
    }


@media only screen and (min-width: 320px) {
    .hero-image{
    height:35vh;
        
    }

        
    .navbar-brand{
        width:18%;
    }

   p {
    text-align:center;
    font-size:1rem;
     letter-spacing: 1px;
     line-height:1.3;
    }




    .carousel-images img{ /*Slide-carousel*/
    height:30vh;
    }



    .different-animal-images{
        height:30vh;
    }

    .carousel-fade-images img{
        height:40vh;
    }

    

    .arrow-size img{
        width:50%;
    }

    #first-name::placeholder{
        width:18%;
    }

    #last-name::placeholder{
        width:30%;
    }

    #email::placeholder{
        width:40%;
    }

    #text-area::placeholder{
       background-color:rgba(0, 0, 0, 1.0);
       width:30%;
    }

    .bg-color-contact-headline{
        background-color:rgba(250, 120, 0, 0.3);
        border-radius:100%;
    }
    

}


@media only screen and (min-width: 375px) {
    .hero-image{
        height:41vh;
    }

        #first-name::placeholder{
        width:15%;
    }

    #last-name::placeholder{
        width:26%;
    }

    #email::placeholder{
        width:35%;
    }

    #text-area::placeholder{
       background-color:rgba(0, 0, 0, 1.0);
       width:25%;
    }

}


@media only screen and (min-width: 425px) {
    .hero-image{
        height:46vh;
    }
    .hero-image-text{
        font-size:1.5rem;
    }

    #first-name::placeholder{
        width:14%;
    }

    #last-name::placeholder{
        width:23%;
    }

    #email::placeholder{
        width:30%;
    }

    #text-area::placeholder{
       background-color:rgba(0, 0, 0, 1.0);
       width:20%;
    }
    

}


@media only screen and (min-width: 600px) {
    .hero-image{
        height:80vh;
    }
    .hero-image-text{
        font-size:2rem;
    }

    .nav-link{
        margin: 0 2rem;
    }

    .navbar-brand{
      width:10%;  
    }

    .different-animals-images {
        height:40vh;
    }

    .arrow-right{
        width:max-content;
        transform:rotate(0deg);
    }

    .arrow-up{
    transform: rotate(0deg);
    position: relative;
    right: 0em;
}

    .arrow-rotated-down-left{
        transform:rotate(0deg);
    }

    
    #first-name::placeholder{
        width:15%;
    }

    #last-name::placeholder{
        width:25%;
    }

    #email::placeholder{
        width:35%;
    }

    #text-area::placeholder{
       background-color:rgba(0, 0, 0, 1.0);
       width:25%;
    }

    

   
    }


    

@media only screen and (min-width: 600px) {
    .hero-image{
        height:80vh;
    }
    .hero-image-text{
        font-size:2rem;
    }

    .nav-link{
        margin: 0 2rem;
    }

    .navbar-brand{
      width:10%;  
    }

    .different-animals-images {
        height:40vh;
    }

    .arrow-right{
        width:max-content;
        transform:rotate(90deg);
    }

    .arrow-up{
    transform: rotate(30deg);
    position: relative;
    right: 7em;
}

    .arrow-rotated-down-left{
        transform:rotate(220deg);
    }

    
    #first-name::placeholder{
        width:15%;
    }

    #last-name::placeholder{
        width:25%;
    }

    #email::placeholder{
        width:35%;
    }

    #text-area::placeholder{
       background-color:rgba(0, 0, 0, 1.0);
       width:25%;
    }

    

   
    }







@media only screen and (min-width: 800px) {
    .hero-image{
        height: 110vh;
    }
    .hero-image-text{
        font-size:3rem;
    }
    .nav-link{
        font-size:1.2rem;
        margin: 0 1rem;
    }

    .hero-image-text-bg{
    width:70%;
    height:35vh;

}
    .navbar-brand{
    width:8%;  
    }

    .different-animals-images{
        height:35vh;
    }

    p{
        font-size:1.3rem;
    } 
    
    .carousel-images img{
    height:35vh;
    }


    #first-name::placeholder{
        width:12%;
    }

    #last-name::placeholder{
        width:18%;
    }

    #email::placeholder{
        width:25%;
    }

    #text-area::placeholder{
       background-color:rgba(0, 0, 0, 1.0);
       width:18%;
    }

    
}



@media only screen and (min-width: 1050px) {
    .hero-image{
        height: 156vh;
    }
    .hero-image-text{
        font-size:4rem;
    }

    .navbar-brand{
        width:6%;
    }

    .nav-link{
        font-size: 1.2rem;
        margin: 0 3rem;
    }
    .hero-image-text-bg{
    width:50%;
    height:45vh;
    }

    .carousel-images img{
        height:60vh;
    }

     .carousel-fade-images img{
         height:65vh;
     }



    #first-name::placeholder{
        width:8%;
    }

    #last-name::placeholder{
        width:13%;
    }

    #email::placeholder{
        width:17%;
    }

    #text-area::placeholder{
       background-color:rgba(0, 0, 0, 1.0);
       width:12%;
    }

    .contact-bg-image{
        height:130vh;
    }


}







